main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.nav-container {
  display: flex;
  justify-content: center;
  height: 239px;
  flex-grow: 1;
  width: 100%;
  height: 239px;
  left: 0px;
  top: 0px;

  background: #e0e0e0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.menu-item {
  background: #f2f2f2;
  border-radius: 72px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 37px;
  left: 180px;
  top: 108px;

  background: #f2f2f2;
  border: 3px solid #56ccf2;
  box-sizing: border-box;
  border-radius: 72px;
  cursor: pointer;
}

.menu-item:hover {
    background: white;
    color: #56ccf2;
}

.contents {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  width: 100%;
}

.image-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 721px;
  height: 373px;
  position: relative;
  left: 25%;
  top: -7%;
  background: #bdbdbd;
}

.image-holders {
}

.time-box {
  width: 232px;
  height: 39px;
  align-self: last baseline;
  background: #e0e0e0;
  margin: auto 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  border-radius: 2em;
}

.image-holders-left {
  width: 209px;
  height: 209px;
  left: 224px;
  top: 294px;
  background-color: #56ccf2;
  background-size: contain;
  background-repeat: repeat;
  background-origin: border-box;
  background-attachment: inherit;
  background-image: url("./../images/ubuntu.jpg");
  border-radius: 116px;
}

.image-holders-right {
  width: 209px;
  height: 209px;
  right: 208px;
  top: 294px;
  background-color: #56ccf2;
  background-size: contain;
  background-repeat: repeat;
  background-origin: border-box;
  background-attachment: inherit;
  background-image: url("./../images/ubuntu.jpg");
  border-radius: 116px;
}

.text-box-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #f2f2f2;
}

.box-text {
  height: 249px;
  flex-grow: 1;
  background: #56ccf2;
  margin: 30px;
  padding: 10px;
}
